<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Authors:</h1>

<table class="authors">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.name}">John</td>
            <td th:text="${author.surname}">Doe</td>
            <td>
                <a th:href="@{/author/edit(id=${author.id})}" href="editAuthor.html">Edit</a>
            </td>
            <td>
                <a th:href="@{/author/delete(id=${author.id})}" href="">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<a th:href="@{/author/new}" href="editAuthor.html">Add new author..</a>
</body>
</html>
